@model ADSEvaluacion1.Models.Operacion
@{
    ViewBag.Title = "Operaciones_Aritmeticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Operaciones</h1><hr />
<ul>
    <li>@Html.ActionLink("Suma", "Operaciones_Aritmeticas", "Operaciones", new { v1 = 30, v2 = 2, opc = 1 }, null)</li>
    <li>@Html.ActionLink("Resta", "Operaciones_Aritmeticas", "Operaciones", new { v1 = 30, v2 = 2, opc = 2 }, null)</li>
    <li>@Html.ActionLink("Multiplicación", "Operaciones_Aritmeticas", "Operaciones", new { v1 = 30, v2 = 2, opc = 3 }, null)</li>
    <li>@Html.ActionLink("División", "Operaciones_Aritmeticas", "Operaciones", new { v1 = 30, v2 = 2, opc = 4 }, null)</li>
</ul>

<h1>Respuesta</h1><hr />
<strong>Operación:</strong> @Model.ope <br />
<strong>Respuesta:</strong> @Model.res